<html>
<head>
    <meta charset="utf-8">
</head>
<body>

    <br />
    <br />
    <div class="header bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="display-4">Welcome to <br /> SocialMedia1.</h1>
                    <p class="lead my-4">Connect with people all around the globe. <br /> Focus on the things that matter.</p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="devices pl-md-6 pt-5 pt-md-0">
                        <img src="/img/landing_devices.png" alt="Example Navbar 1" class="img-fluid">
                    </div>
                </div>
                <div>
                    <p class="small my-4 text-center">Already have an account? <a href="/Identity/Account/Login">Log in</a>.</p>
                    <p class="small my-4 text-center">Don't have an account? <a href="/Identity/Account/Register">Register</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>