@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lazy - Bootstrap UI Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link href="assets/img/favicon.ico" rel="icon" type="image/png">

    <link rel="stylesheet" href="./assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/lazy.css">
    <link rel="stylesheet" href="./assets/css/demo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-18 col-md-4 offset-md-4">
                <div class="register-form">
                    <div class="mb-5">
                        <h1>Register</h1>
                    </div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" for="exampleInputEmail1">Email address</label>
                            <input asp-for="Input.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <small id="emailHelp" class="form-text text-info">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" for="exampleInputPassword1">Password</label>
                            <input asp-for="Input.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                             <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" for="exampleInputPassword1">Password Confirmation</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="btn btn-block btn-info">Register</button>
                    </form>

                    <p class="small my-4 text-center">Already have an account? <a href="Login">Log in</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./assets/vendor/popper/popper.min.js"></script>
    <script src="./assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- optional plugins -->
    <script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>

    <!--   lazy javascript -->
    <script src="./assets/js/lazy.js"></script>
</body>
</html>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
